.books-comp{
    text-align: center;
    color: black;
    transition: all 0.5s;
    width: 207.9px;  
}

.books-comp .icon{
    box-sizing: border-box;
    height: 330.75px;
    width: 207.9px;  
}

.books-comp:hover{
    transform: scale(1.03);
}